body {
    background-color: rgba(82, 5, 128, 1);
    align-items: center;
    color: white;
}

.main{
    background-color: rgb(43, 1, 83);
    width: 720px;
    height: 1280px;
    margin: auto;
    text-align: center;
    color: white;
}

#seriesDiv{
    border: 5px solid black;
    background-color: rgb(38, 2, 59);
    color: white;
    width: 600px;
    height: 600px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 60px;
}

#gameDiv{
    border: 5px solid black;
    background-color: rgb(38, 2, 59);
    color: white;
    width: 600px;
    height: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 60px;
}

#gameSeriesTotal{
    border: 5px solid black;
    background-color: rgb(38, 2, 59);
    width: 320px;
    margin-left: 200px;
    font-size: 30px;
    color: white;
}

#framesTable{
    width: 700px;
    margin-left: 10px;
}

#framesTable, #framesTable th{
    align-items: center;
    background: black;
    color: white;
    border: white solid 2px;
}

#gameFrames, #frameScores{
    width: 700px;
}   

#gameFrames td{
    border: white solid 1px;
    border-bottom: none;
    align-items: center;
    height: 40px;
    font-size: 40px;
}

form{
    
    align-items: center;
}

#contactTable{
    align-items: center;

}

#contactTable tr, #contactTable td{
    width: 720px;
}

input, textarea, #contactTable button{
    width: 400px;
    margin: 5px;
}

.vl{
    border-right: white solid 1px;
    height: 30px;
    margin: none;
    padding: none;
}

#gameFrames div{
    padding: none;
    margin: none;
    display: inline-block;
    font-size: 30px;
}

#gameFrames span{
}

#frameScores td{
    border: white solid 1px;
    border-top: none;
    align-items: center;
    width: 50px;
    height: 20px;
    font-size: 20px;
}

#F10, #FS10{
    width: 70px;
}
.firstShot{
    margin-right: 10px;
}

#pinDeck{
    width: 720px;
}

#pinDeck tr, #pinDeck td{
    all:unset;
}

.pinRow{
    float: left;
    margin: none;
    align-items: center;
}

.pin{
    all: unset;
    display: inline-block;

    background-color: white;
    color: black;
    font-size: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding: 20px;
    background-color: black;
    border-radius: 100px;
    min-width: 600px;
    margin-top: none;
}

a:visited, a{
    color: white;
    font-size: 25px;

    background-color: black;
}

hr{
    height: 20px;
    border-color: black;
    background-color: black;
    margin: none;
}

h1{
    font-size: 80px;
    padding: 50px;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 200px;
}

h3{
    font-size: 55px;
    padding: 50px;
    margin-bottom: 20px;
    margin-right: 0%;
    margin-left: 0%;
    padding-right: 0%;
    padding-left: 0%;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 200px;
}

h4{
    
}

button{
    all: clear;
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding: 20px;
    background-color: black;
    border-radius: 100px;
    min-width: 600px;
    margin-top: none;
}

button{
    display: inline-block;
    width: 40%;
    padding: none;
    min-width: 0px;
}

a:hover, button:hover{
    background-color: darkgray;
}

.infoBTN{
    all: unset;
    font-size: 20px;
    padding: 5px;
    margin: 2px;
    background-color: black;
}

#coreExplain{
    margin: 20px;
    padding: 1px;
    height: 400px;

    background-color: black;
}